p There are {{posts.length}} posts
search: input( ng-model="search" class="search input")
div(ng-repeat='post in posts|filter:search' ng-model="isAdmin" ng-controller="isUserCtrl" class="postArea")
  h3 Title:{{post.title}}
  div(ng-hide="isAdmin")
   div(ng-hide="hide" )  
       div(class="postTextArea") Text:{{post.text}}
       div(class="authorArea") Author:{{post.author}}
       div(class="timeArea") Time:{{post.time}}
       a(href='/readPost/{{post.id}}' class="postA") More
       |   
       a(href='/commentPost/{{post.id}}' class="postA") Comment
       |   
       a(href='/deletePost/{{post.id}}' ng-show="isUser" class="postA") Delete
       |   
       a(href='/editPost/{{post.id}}' ng-show="isUser" class="postA") Edit
  div(ng-show="isAdmin")
   div(ng-hide="hide" )  
       div(class="postTextArea") Text:{{post.text}}
       div(class="authorArea") Author:{{post.author}}
       div(class="timeArea") Time:{{post.time}}
       a(href='/readPost/{{post.id}}' class="postA") More
       |   
       a(href='/commentPost/{{post.id}}' class="postA") Comment
       |   
       a(href='/hidePost/{{post.id}}' class="postA") Hide
       |   
       a(href='/showPost/{{post.id}}' class="postA") Show
       |   
       a(href='/editPost/{{post.id}}' ng-show="isUser" class="postA") Edit
       |   
       a(href='/deletePost/{{post.id}}' ng-show="isUser" class="postA") Delete

    script(src='js/controllers.js')