doctype
html()
	head
		meta(charset='utf8')
		base(href='/')
		title Angular Express Seed App
		link(rel='stylesheet', href='/css/regist.css')

block body
	div 

		form(action="register" name="RegistForm" onsubmit="return f();" method="post")
			div( class="frame usr_name") username
				input(id="username" maxlength="15" class="original" type='text' name="username")
			div(id="name_mess" class="message")
			div( class="frame password") password
				input(id="password" maxlength="15" class="original" type='password' name="password")
			div(id="pass_mess" class="message")
			div( class="frame pass_check") password again
				input(id="pass_check" maxlength="15" class="original" type='password' name="check_password")
			div(id="check_mess" class="message")
			div( class="frame id") id
				input(id="id" maxlength="15" class="original" type='text' name="id")
			div(id="id_mess" class="message")
			div( class="frame phone") phone number
				input(id="phone" maxlength="15" class="original" type='text' name="phone")
			div(id="phone_mess" class="message")
			div( class="frame email") email
				input(id="email" maxlength="15" class="original" type='email' name="email")
			div(id="email_mess" class="message")
			input(type='reset' value='reset' class="button" id="r")
			input(type='submit' value='submit' class="button" id="s")

	script(src='js/lib/angular/angular.js')
	script(src='js/regist.js')
	script(src='js/my_jquery_functions.js')
 



